main {
  color: aliceblue;
  background-color: black;
}
header {
  background-color: rgb(145, 139, 139);
  text-align: center;
  padding: 20px;
  color: darkblue;
}
h1 {
  font-size: 50px;
  font-family: sans-serif;
}

h2 {
  font-size: 36px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: underline;
}
section {
  font-size: 26px;
  text-align: center;
  font-family: sans-serif;
}
table {
  margin: auto;
  font-size: 26px;
  font-family: sans-serif;
  width: max-content;
  text-align: left;
}
.rightcol {
  text-align: center;
  width: 500px;
}
.leftcol {
  width: 300px;
  text-align: center;
}
a:link {
  color: darkblue;
  text-decoration: none;
}
