* {
  margin: 0 auto;
  padding: 0;
}

.container {
  margin: 200px auto;
  max-width: 600px;
}

.display {
  max-width: 400px;
  margin: 5px auto;
}

.display-input {
  width: 100%;
}

.calc-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#grid-item {
  grid-row-start: 5;
  grid-column-start: 3;
  grid-row-end: 6;
  grid-column-end: 5;
}

.button {
  width: 100%;
  height: auto;
  text-align: center;
}
