html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", Verdana, sans-serif;
  max-width: 1020px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
.header {
  width: 100%;
  height: 95px;
  display: flex;
  background-color: #2d303a;
  color: #ffffff;
  border-bottom: 6px solid #323746;
}
.logo {
  width: max-content;
  display: flex;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: -0.03em;
  padding-left: 40px;
  padding-top: 29px;
  padding-bottom: 35px;
}
.header1 {
  margin: 0;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: -0.03em;
}
.logo-symbol {
  color: #f06c64;
}

.navigation {
  width: 100%;
  margin: 0;
  font-size: 12px;
  text-align: right;
}

#menu-toggle {
  opacity: 0;
}

.navigation-menu {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.035em;
  padding-right: 40px;
  padding-top: 32px;
}

.navigation-menu li {
  display: inline-block;
  padding-left: 30px;
}

.navigation-menu a {
  text-decoration: none;
  color: #ffffff;
}

#nav:hover {
  color: #ea676b;
}

.slider {
  width: 100%;
  height: max-content;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slide-1 {
  width: 100%;
  height: 100%;
}

.header2 {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  padding-left: 40px;
  padding-top: 59px;
  color: #666d89;
}

.text-services {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  text-align: justify;
  padding-top: 18px;
  padding-left: 40px;
  padding-right: 44px;
}
.services {
  width: 100%;
  height: max-content;
  margin: 0;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}
.services-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-top: 60px;
  padding-right: 40px;
  padding-bottom: 46px;
}

h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  line-height: 18px;
}
.service-item {
  width: 320px;
  height: 104px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #767e9e;
}

.icon {
  width: 60px;
  height: 60px;
}

.service-description {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

.service-description p {
  margin: 0;
  padding-top: 7px;
}

.portfolio {
  width: 100%;
  height: max-content;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  padding-bottom: 65px;
}

.text-portfolio {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  text-align: justify;
  padding-top: 13.87px;
  padding-left: 40px;
  padding-right: 44px;
}

.portfolio-list {
  color: #767e9e;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.portfolio-list div {
  width: 100%;
  display: inline;
  font-size: 12px;
  border: 1px solid;
  border-radius: 5px;
}

.portfolio-menu {
  padding: 3px 10px;
}

.portfolio-menu:hover {
  color: #ffffff;
  cursor: pointer;
}

.portfolio-images {
  margin: 0;
  max-width: 1020px;
  padding-left: 40px;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 187px 187px 187px;
  grid-gap: 20px;
}

.portfolio-images img {
  align-self: center;
  justify-self: center;
}

.footer {
  width: 100%;
  height: 76px;
  background-color: #2d303a;
  display: flex;
  justify-content: space-between;
}

.copyright {
  margin: 0;
  padding-left: 40px;
  padding-top: 30px;
  font-weight: 900;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: #666d89;
}

.footer-links {
  margin: 0;
  padding-right: 42px;
  padding-top: 22px;
}

.footer-links img {
  padding-left: 4px;
}

.footer-links img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media screen and (max-width: 1019px) {
  .header2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .portfolio-images {
    grid-template-rows: 160px 160px 160px 160px;
    grid-template-columns: 210px 210px 210px;
    grid-gap: 4px;
  }

  .portfolio-images img {
    width: 205px;
    height: 155px;
    align-self: center;
    justify-self: center;
  }

  #menu-toggle {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 50px;
  }

  .logo {
    margin: 10px;
  }

  .header2 {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .text-services {
    padding-top: 10px;
  }
  .services {
    height: max-content;
  }
  .services-list {
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 46px;
  }

  .service-description p {
    margin: 0;
    padding-top: 7px;
  }

  .portfolio-images {
    height: max-content;
    grid-template-rows: 120px 120px 120px 120px 120px;
    grid-template-columns: 150px 150px;
    grid-gap: 2px;
  }

  .portfolio-images img {
    width: 145px;
    height: 110px;
  }

  .header {
    flex-direction: row-reverse;
  }

  .navigation {
    width: max-content;
  }
  .logo {
    padding: 0;
    width: 100%;
    justify-content: center;
  }

  #menu-toggle {
    opacity: 0;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 15px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: 0.25s;
  }
  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }

  .navigation-menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #2d303a;
    transition-duration: 0.25s;
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .navigation-menu {
    visibility: visible;
    left: 0;
  }
}

@media screen and (max-width: 375px) {
  .services-list {
    width: auto;
    padding-right: 30px;
  }
  .service-item {
    width: auto;
    height: max-content;
    padding-bottom: 10px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .service-description {
    padding-left: 10px;
    text-align: justify;
  }

  .service-description p {
    margin: 0;
    padding-top: 2px;
  }
}
